<div class="modal-header">
    <h4 class="modal-title">Create new task</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Fill up the details</p>

    <form [formGroup]="myForm" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="title">Title</label>
            <input formControlName="title" id="title" type="text" class="form-control">
            <div *ngIf="f.title.touched && f.title.invalid" class="alert alert-danger">
                <div *ngIf="f.title.errors.required">Title is required.</div>
                <div *ngIf="f.title.errors.minlength">Title should be 3 character.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea formControlName="description" class="form-control" id="description" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="file">Attachments</label>
            <input formControlName="file" id="file" type="file" multiple class="form-control"
                (change)="onFileChange($event)">
            <div *ngFor="let file of myFiles">
                <small class="text-success">{{file.name}}</small>
            </div>
            <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                <div *ngIf="f.file.errors.required">File is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="owners">Owners</label>
            <select formControlName="owners" id="owners" multiple class="form-control">
                <option>mithilesh</option>
                <option>mithilesh12</option>

            </select>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>



    <!--<form>
        <div class="form-group">
            <label for="exampleInputTitle1">Title</label>
            <input type="text" class="form-control" id="exampleInputTitle1" aria-describedby="titleHelp">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

    </form>  -->








</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>