<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-md-6 align-self-center">
            <div class="card" style="width: auto;">
                <div class="card-body">
                    <h5 class="card-title">Create a new account</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Lets get started!!</h6>
                    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Username</label>
                            <input type="text" class="form-control" formControlName="username"
                                id="exampleInputUsername1" aria-describedby="usernameHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" formControlName="password"
                                id="exampleInputPassword1">
                        </div>
                        <!--<div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">I Agree all terms and
                                conditions.</label>  
                        </div>  -->
                        <button type="submit" [disabled]="signupForm.pristine || !signupForm.valid"
                            class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>