<div class="container">
    <div class="row mt-5">
        <div class="col-md-3" id="todo">

            <div class="card bg-dark text-white" style="width: auto;height:500px;">
                <div class="card-body">
                    <h5 class="card-title">TODO</h5>
                    <div *ngFor="let t of tasks">
                        <h6 class="card-subtitle mb-2 text-muted mb-2" *ngIf="t.state == 'TODO'" draggable
                            [dragData]="t">
                            {{t.title}}</h6>
                    </div>


                </div>
            </div>
            <!--
            
            
            <h6>TODO</h6>
            <div *ngFor="let t of tasks">
                <div *ngIf="t.state == 'TODO'" draggable [dragData]="t">{{t.title}}</div>
            </div>  -->
        </div>
        <div class="col-md-3" id="inprogress" droppable>
            <div class="card bg-info text-white" style="width: auto;height:500px;">

                <div class="card-body">
                    <h5 class="card-title">IN-PROGRESS</h5>

                    <div *ngFor="let t of tasks">
                        <h6 class="card-subtitle mb-2 text-muted" *ngIf="t.state == 'IN-PROGRESS'" draggable
                            [dragData]="t">
                            {{t.title}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="testing" droppable>
            <div class="card bg-primary text-white" style="width: auto;height:500px;">
                <div class="card-body">
                    <h5 class="card-title">TESTING</h5>
                    <div *ngFor="let t of tasks">
                        <h6 class="card-subtitle mb-2 text-muted" *ngIf="t.state == 'TESTING'" draggable [dragData]="t">
                            {{t.title}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="done" droppable>
            <div class="card bg-warning text-white" style="width: auto;height:500px;">
                <div class="card-body">
                    <h5 class="card-title">DONE</h5>
                    <div *ngFor="let t of tasks">
                        <h6 class="card-subtitle mb-2 text-muted" *ngIf="t.state == 'DONE'" draggable [dragData]="t">
                            {{t.title}}</h6>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>