<div class="container">
    <div class="row mt-3">
        <h4>Default Dashboard</h4>
    </div>
    <div class="row pt-5">


        <div class="col-md-4">

            <a (click)="openModal(contentModal)" class="btn btn-primary mr-2">+ Create Task</a>
            <a class="nav-link" routerLink="/tasks" class="btn btn-primary">View Tasks</a>

            <ng-template #contentModal let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-primary-title">dashboard</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body centered">

                </div>
            </ng-template>
        </div>
        <div class="col-md-8">
            <div class="card mt-3" style="width: auto;" #task (click)="openTaskModal(contentModal,task)">
                <ng-template #contentModal let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-primary-title">dashboard</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">

                    </div>
                </ng-template>

                <div class="card-body">
                    <span class="badge badge-info float-right">TODO</span>

                    <h5 class="card-title">54545</h5>


                    <h6 class="card-subtitle mb-2 text-muted">1 Owners</h6>
                    <p class="card-text">6 attachments</p>

                </div>
            </div>
            <div *ngFor="let task of tasks" #task (click)="openTaskModal(contentModal,task)">
                <div class="card mt-3" style="width: auto;">
                    <div class="card-body">
                        <span class="badge badge-info text-inline float-right">{{task.state}}</span>
                        <h5 class="card-title">{{task.title}}</h5>

                        <h6 class="card-subtitle mb-2 text-muted">{{task.owners.length }} Owner(s)</h6>
                        <p class="card-text">{{task.attachments }} attachment(s)</p>
                        <span><svg width="1em" height="1em" viewBox="0 0 16 16 "
                                class="text-danger bi bi-trash-fill delete" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg" #t (click)="deleteTask(task)">
                                <path fill-rule="evenodd"
                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                            </svg> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square edit"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>