<!--<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-md-6 align-self-center">
            <div class="card" style="width: auto;">
                <div class="card-body">
                    <h5 class="card-title">Log in into your account</h5>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Username</label>
                            <input type="text" class="form-control" id="exampleInputUsername1"
                                aria-describedby="usernameHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>

                        <button type="submit" class="btn btn-primary">Log in</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>  -->


<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-md-6 align-self-center">
            <div class="card" style="width: auto;">
                <div class="card-body">
                    <h5 class="card-title">Log in into your account</h5>

                    <form [formGroup]="signinForm" (ngSubmit)="onLogin()">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Username</label>
                            <input type="text" class="form-control" formControlName="username"
                                id="exampleInputUsername1" aria-describedby="usernameHelp">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" formControlName="password"
                                id="exampleInputPassword1">
                        </div>

                        <button type="submit" [disabled]="signinForm.pristine || !signinForm.valid"
                            class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>