<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">Workflow Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" routerLinkActive="active">
                <li class="nav-item" *ngFor="let link of links">
                    <a class="nav-link" [routerLink]="link.path">{{ link.text }}</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" routerLink="logout" (click)="logout()">Logout</a>
                </li>
                <!--<li class="nav-item active">
                    <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf='!isLoggedin' [routerLink]="['/auth/signup']">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf='!isLoggedin' [routerLink]="['/auth/login']">Login</a>
                </li> -->


            </ul>

        </div>

    </div>

</nav>