<div class="modal-header">
    <h4 class="modal-title">{{clickedTask.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p><strong>Description :</strong> {{clickedTask.description}}</p>
    <p><strong>{{clickedTask.attachments}}</strong> Attachments</p>
    <p>Owners : <strong>{{clickedTask.owners}}</strong> </p>
    <p>State: <strong>{{clickedTask.state}}</strong></p>
    <p>Crerated at <strong>{{clickedTask.date | customdate}}</strong></p>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>